<!-- _includes/custom_papers.liquid -->
<style>
:root {
  --sigmod-color: #FFDDC1;
  --vldb-color: #C1E1FF;
  --icde-color: #D1FFC1;
  --emnlp-color: #ffc1f2ff;
}

.pub-tag {
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 0.85em;
  color: #000;
  display: inline-block;
  margin-left: 4px;
}
</style>

<div class="publications">

- 📄 **[Data-Semantics-Aware Recommendation of Diverse Pivot Tables](https://arxiv.org/pdf/2507.06171)**  
  **Whanhee Cho**, Anna Fariha 💻 [GitHub](https://github.com/whnhch/SAGE)  
  <span class="pub-tag" style="background-color: var(--sigmod-color)">SIGMOD 2026</span>

- 📄 **[UTOPIA: Automatic Pivot Table Assistant](https://dl.acm.org/doi/pdf/10.14778/3685800.3685861?casa_token=Cqd2dwrRpTgAAAAA:AAeCJJoVOR5XL5eT1N08kjgOlWnBRylzDixtR9Pmo66XFC51fUTNxp8_0s_9gATdsaBAdH3JU0HC9A)**  
  **Whanhee Cho**, Anna Fariha💻 [GitHub](https://github.com/whnhch/UTOPIA-Automatic-Pivot-Table-Assistant)  
  <span class="pub-tag" style="background-color: var(--vldb-color)">VLDB 2024</span>

</div>
